.progressControlContainer {
  margin-top: 60px;
  width:50%;
}

.buttonGroupAddress {
  display: flex;
  justify-content: flex-end
  ;
}

.buttonGroupShipping, .buttonGroupPay {
  display: flex;
  justify-content: space-between;
}

button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  background-color: #F67599;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}


.cursorLeft {
  padding-left: 10px;
}

.cursorRight {
  padding-right: 10px;
 }

.buttonGroupShipping, .buttonGroupPay {
  display: flex;
}